/shiftmutation/nbproject/private/
/swapmutation/nbproject/private/
/IGStep1/build/
/shiftmutation/build/
/CompareTxt(JAVA修正使用方法前)/build/
/CompareTxt(JAVA修正使用方法前)/nbproject/private/
/CompareTxt(JAVA前)/build/
/CompareTxt(JAVA前)/nbproject/private/
/IGFunction/build/
/IGFunction/nbproject/private/
/TimeSchedule/build/
/TimeSchedule/nbproject/private/